/* Background */

.background-container-home {
  height: 100vh;
  background: #A8D0E6
}
  
.background-container-work {
  height: 100vh;
  background: white;
}
  
.background-about {
  height: 100vh;
  background: #A8D0E6;
}

.background-contact {
  height: 100vh;
  background: #F76C6C;
}
